## Index
    - List
    - None type
    - Dictionary
    - Tuple
    - Set

## List

In [1]:
word_list = ['sakir', 'Anannya', 'labonno']
print(type(word_list))
print(word_list[1])

<class 'list'>
Anannya

In [2]:
# Empty list
zero_list = []
print(zero_list)

[]

In [4]:
# Add different types of data in a list
number = 1
mis_list = ['number', number, 1, ['sakir', 'Anannya']]
print(mis_list[0])
print(mis_list[1])
print(mis_list[3])
print(mis_list[3][1])

number
1
['sakir', 'Anannya']
Anannya

In [1]:
# list operations
my_numbers = [1,5,8,9,77]
my_numbers[3] = 999
print(my_numbers)

[1, 5, 8, 999, 77]

In [2]:
# list add, multiple operations
first_number = [1,5,7,88,99,666,6]
print(first_number + ['sakir'])
print(first_number * 3)

[1, 5, 7, 88, 99, 666, 6, 'sakir']
[1, 5, 7, 88, 99, 666, 6, 1, 5, 7, 88, 99, 666, 6, 1, 5, 7, 88, 99, 666, 6]

In [4]:
# search in list
fruits_list = ['mango', 'apple', 'orange', 'coconut', 'nuts']
print('orange' in fruits_list)
print('apple' not in fruits_list)
print(not 'rice' in fruits_list)

True
False
True

In [5]:
# buit in function of list
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [7]:
number_list = [4,5,8,88]
number_list.append(99)
print(number_list)

[4, 5, 8, 88, 99]

In [8]:
words = ['A', 'B', 'C']
index = 2
words.insert(index, 'F')
print(words)

['A', 'B', 'F', 'C']

In [10]:
# loop through iterate
fruits_list = ['Apple', 'Orange', 'Pineapple', 'Grape']
for fruit in fruits_list:
    print(fruit + ' juice')

Apple juice
Orange juice
Pineapple juice
Grape juice

In [13]:
# list slice operations
marks = [22, 21, 45, 78, 80, 85, 90]
poor_marks = marks[:2]
avg_marks = marks[3:5]
good_marks = marks[5:]
print(poor_marks)
print(avg_marks)
print(good_marks)

[22, 21]
[78, 80]
[85, 90]

In [1]:
# slice with define step
number_list = [1,2,3,4,5,78,9,6,5,4,55,555]
start, end, step = 3, 11, 2
new_list = number_list[start:end:step]
print(new_list)

[4, 78, 6, 4]

In [3]:
# negative slice
number_list = [1,2,3,4,5,78,9,6,5,4,55,555]
print(number_list[3:-4])

[4, 5, 78, 9, 6]

## None Type

In [4]:
def my_func():
    print('Hi, I am sakir')
    
value = my_func()
print(value)

Hi, I am sakir
None

In [5]:
None == None

True

In [7]:
None == []

False

In [8]:
None ==''

False

In [10]:
None == False

False

In [11]:
a = None
a == None

True

In [12]:
def my_func(x):
    if x:
        return x*x
    else:
        return 0
print(my_func())

TypeError: my_func() missing 1 required positional argument: 'x'

In [13]:
def my_func(x = None):
    if x:
        return x*x
    else:
        return 0
print(my_func())
print(my_func(5))

0
25

## Dictionary

In [23]:
my_marks = {'Bangla': 80, 'English':90, 'Math': 99}
print(type(my_marks))
print(my_marks['Bangla'])

<class 'dict'>
80

In [31]:
info = {"Arif" : {'age' : 31, 'dept' : 'EEE'}, "Rashed" : {'age' : 28, 'dept' : 'ME'}}
print('Arif info:', info['Arif'])

Arif info: {'age': 31, 'dept': 'EEE'}

In [33]:
print(info['Rashed']['dept'])

ME

In [35]:
my_marks = {'Bangla': 80, 'English': 90, 'Math': 99}
for key in my_marks:
    print(key, ' ', my_marks[key])

Bangla   80
English   90
Math   99

In [36]:
my_marks = {'Bangla': 80, 'English': 90, 'Math': 99}
for key, value in my_marks.items():
    print(key, ' ', value)

Bangla   80
English   90
Math   99

In [42]:
# sorting
my_marks = {"Math": 90, "Bengali": 80, "English": 99}
print(my_marks)

{'Math': 90, 'Bengali': 80, 'English': 99}

In [43]:
# sorted by value
print(sorted(my_marks.items(), key = lambda item : item[1]))

[('Bengali', 80), ('Math', 90), ('English', 99)]

In [44]:
# sorted by key
print(sorted(my_marks.items(), key = lambda item : item[0]))

[('Bengali', 80), ('English', 99), ('Math', 90)]

## Tuple

In [48]:
roles = ('Supervisor', 'Admin', 'users')
print(type(roles))
print(roles[0])
print(roles)

<class 'tuple'>
Supervisor
('Supervisor', 'Admin', 'users')

In [49]:
# immutableness tuple
roles[1] = 'Sakir'

TypeError: 'tuple' object does not support item assignment

In [50]:
# tuple unpacking
numbers = (1, 2, 5, 8, 9)
a,b,c,d,e = numbers
print(a)

1

In [52]:
number = (1, 5, 4, 66, 8, 9, 7, 5, 666, 33, 32, 47, 50)
a, b, *c, d = number
print(a)
print(b)
print(c)
print(d)

1
5
[4, 66, 8, 9, 7, 5, 666, 33, 32, 47]
50